{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        
        <h1 class="display-1 text-center">Bienvenido</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum commodi officiis porro nemo vel? Id minus fugit
            similique, nemo fugiat ipsa dolor eum quo atque vel explicabo, reprehenderit animi delectus hic. Enim vero
            ipsam placeat sunt fatis? Harum in dolores enim illum ipsum recusandae cumque
            fuga quo a ea tempora, nemo alias nesciunt ipsam dignissimos. Officia vitae consequatur quam assumenda ea
            quas optio reiciendis fugiat vel mollitia rerum corporis asperiores maxime earum tempora minus omnis enim,
            esse molestias recusandae perspiciatis, officiis voluptates laboriosam? Incidunt est minima quas eum
            exercitationem impedit vitae ullam, maxime beatae fuga nesciunt tenetur.
        </p>

        <div class="text-center">
            <a class="btn btn-primary" href="/iniciar_sesion">
                Iniciar Sesion
            </a>
            <a class="btn btn-primary" href="/registro">
                Registrarse
            </a>
        </div>
    </section>
</main>
{% endblock %}