{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        
        <h1 class="display-1 text-center">Bienvenido</h1>
        <p>Hola me llamo Lenin Figueroa y me dedico a realizar proyectos en python.
            Esta web es un muestra de mi trabajo. Esta hecha con el framework Django
            y usa una base de datos Posgresql. Tambien hace uso de Bootstrap para los estilos y colores.
            Es un Crud donde puedes registrarte, colocar tareas y despues marcarlas como completadas
            ademas de borrar y actualizar tareas. Espero la disfrutes
        </p>

        <div class="text-center">
            <a class="btn btn-primary" href="/iniciar_sesion">
                Iniciar Sesion
            </a>
            <a class="btn btn-primary" href="/registro">
                Registrarse
            </a>
        </div>
    </section>
</main>
{% endblock %}