{%extends 'base.html' %}

{% block content %}

<main class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h1 class="text-center display-3 py-5">Tareas</h1>
			<ul class="list-group">
				{% for tarea in tareas %}

				<a class="list-group-item" href="{% url 'detalle_tareas' tarea.id %}">
					<header class="d-flex justify-content-between">
						{% if tarea.importante %}
						<h1 class="fw-bold text-danger">{{tarea.titulo}}</h1>
						{% else %}
						<h1 class="fw-bold">{{tarea.titulo}}</h1>
						{% endif %}
						<p>{{tarea.usuario.username}}</p>
					</header>

					<p>{{tarea.descripcion}}</p>
					<p>Completada: {{tarea.completada|date:'M j Y:i'}}</p>
				</a>

				{% endfor %}
			</ul>
		</div>
	</div>
</main>
{% endblock %}